/* Base Styles */

:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  min-height: 100vh;
  background-color: #fafafa;
  color: #262626;
  padding-bottom: 3rem;
}

img {
  display: block;
}

/* === HEADER SECTION ===*/

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* FIRST CHILD */
.profile-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid green;
}
/*------------------------------*/
/*SECOND CHILD*/
.profile-user-settings {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 20px;
}

.profile-stats > ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 15px;
}
/*--------------------------------*/
/*BUTTONS*/
.btn {
  background-color: #fafafa;
  color: #262626;
}
/* === END OF HEADER SECTION === */
/*-------------------------------------------*/
/* === MAIN PAGE CONTENT ==== */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 1rem;
  margin: 2rem 0;
  border: #262626 2px solid;
}

.gallery-item img {
  display: block;
  width: 90%;
  height: 90%;
  object-fit: cover;
  border: 2px solid red;
}

.gallery-item {
  position: relative;
  height: 700px;
  overflow: hidden;
  border-radius: 8px;
}

/*------------------------------------------*/
/*HOVER EFFFECTS*/
.gallery-item-likes {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.4);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.gallery-item:hover img {
  transform: scale(1.5);
}
/*---------------------------------------*/
/*=== END OF MAIN CONTENT SECTION === */
